{% extends 'base.html' %}
{% block content %}

<h1>Shoe Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ shoe.designer }}</span>
    <p>Style: {{ shoe.style }}</p>
    <p>Description: {{ shoe.description }}</p>
    {% if shoe.size == 8 %}
      <p>Size: {{ shoe.size }}</p>
    {% else %}
      <p>Size: Sold Out</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'shoes_update' shoe.id %}">Edit</a>
    <a href="{% url 'shoes_delete' shoe.id %}">Delete</a>
  </div>
</div>
</div>
<div class="col s6">
  <form action="{% url 'add_storage' shoe.id %}" method="POST">
    {% csrf_token %}
    {{ storage_form.as_p }}
    <input type="submit" class="btn" value="Add Storage">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Closet</th><th>Shelf</th></tr>
    </thead>
    <tbody>
      {% for storage in shoe.storage_set.all %}
        <tr>
          <td>{{storage.get_closet_display}}</td>
          <td>{{storage.shelf}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ shoe.designer }}'s Recommended Paired Socks</h3>
    {% if shoe.socks.count %}
      {% for sock in shoe.socks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ sock.color }}">{{ sock.color }}</span> {{ sock.type }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Socks!</h5>
    {% endif %}
  </div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
      <h3>Available Socks</h3>
      {% if socks.count %}
        {% for sock in socks.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A <span style="color: {{ sock.color }}">{{ sock.color }}</span> {{ sock.type }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_sock' shoe.id sock.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{shoe.designer}} Shoe Already Has All Recommended Socks Matched</h5>
      {% endif %}
    </div>
</div>    
<script>
 const selectEl = document.getElementById('id_closet');
 M.FormSelect.init(selectEl);
</script>
{% endblock %}
